<section class="section brd-btm" id="basic_info">
  <div class="row">
    <div class="col-sm-12 clear-mrg">
      <h2 class="title-thin text-muted">BASIC INFO</h2>

      <dl class="dl-horizontal clear-mrg">

        <dt class="text-upper">Phone</dt>
        <dd>+86 18312003883</dd>

        <dt class="text-upper">e-mail</dt>
        <dd>chuyuwang310@icloud.com</dd>

        <dt class="text-upper">language</dt>
        <dd>Chinese(native), English(IELTS 7.0), German(basic)</dd>

        <dt class="text-upper">github</dt>
        <dd><a href="https://github.com/wangchuyu310" target="_blank">https://github.com/wangchuyu310</a></dd>

      </dl>
    </div><!-- .col-sm-6 -->
  </div><!-- .row -->
</section><!-- .section -->
