<section class="section brd-btm" id="education">
  <div class="row">
    <div class="col-sm-12 clear-mrg">
      <h2 class="title-thin text-muted">EDUCATION BACKGROUND</h2>

      <div class="ref-box hreview">
        <div class="ref-avatar">
          <img alt="" src="{{ '/styles/img/st_logo.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo"
               height="54" width="54">
        </div>

        <div class="ref-info">
          <div class="ref-author">
            <strong>Universität Stuttgart (Germany)</strong>
            <span>Oct. 2013-Jul. 2016 | Information Technology</span>
          </div>

          <blockquote class="ref-cont clear-mrg">
            <p>
              Master of Science<br/>
              Grade 1.7 (1.0 to pass-level 4.0) for Master Thesis<br/>
              Good grades for computer science and mathematics modules
            </p>
          </blockquote>
        </div>
      </div><!-- .ref-box -->

      <div class="ref-box hreview">
        <div class="ref-avatar">
          <img alt="" src="{{ '/styles/img/bupt_logo.png' | prepend: site.baseurl }}" class="avatar avatar-54 photo"
               height="54" width="54">
        </div>

        <div class="ref-info">
          <div class="ref-author">
            <strong>Beijing University of Posts and Telecommunications/Queen Mary University of London</strong>
            <span> Sept. 2009-Jul. 2013 | E-Commerce Engineering with Law (joint programme)</span>
          </div>

          <blockquote class="ref-cont clear-mrg">
            <p>Bachelor of Management awarded by BUPT </p>
            <p>Bachelor of Science (Engineering) with first class honours awarded by QMUL</p>
            <p>QMUL College Prize for outstanding academic performance, Jun. 2013</p>
            <p>BUPT Third Class Scholarship, 2009-2010 & 2010-2011 & 2011-2012</p>
          </blockquote>
        </div>
      </div><!-- .ref-box -->
    </div><!-- .col-sm-6 -->
  </div><!-- .row -->
</section><!-- .section -->
