<section class="section brd-btm" id="work_experience">
  <div class="row">
    <div class="col-sm-12 clear-mrg">
      <h2 class="title-thin text-muted">WORK EXPERIENCE</h2>
      <br/>
      <div class="education">
        <div class="education-box">
          <time class="education-date" datetime="2016-01TNow">
            <span>May. <strong class="text-upper">2018</strong> - <strong>Present</strong></span>
          </time>
          <h3>Senior Researcher, XKool Tech (Shenzhen)</h3>
          <p class="li">Conducted machine learning algorithms research for intelligent architectural design (mainly
            involving image classification, object recognition and design scheme generation) and implemented the research prototypes;</p>
          <p class="li">Documented research results in academic papers and wrote book chapters related to computer
            science or AI;</p>
          <p class="li">Developed industry solutions and wrote solution proposals, bidding documents, government grant
            proposals etc.;</p>
          <p class="li">Set up user data monitoring scheme to support product operation and marketing activities；</p>
          <p class="li">In charge of company Intelligence Properties (IP) management; </p>
        </div>
        <!-- .education-box -->

        <div class="education-box">
          <time class="education-date" datetime="2014-09T2016-01">
            <span>Aug. <strong class="text-upper">2016</strong> - May. <strong>2018</strong></span>
          </time>
          <h3>Software Developer, Oracle R&D Center (Shenzhen)</h3>
          <p class="li">Developed new features for pack generation tool used by Oracle cloud products (Java);</p>
          <p class="li">Designed and developed a product performance monitor tool (writing python scripts to
            automatically analyze product logs);</p>
          <p class="li">Wrote unit test and automation test cases for products;</p>
          <p class="li">Transformed collaborative development tool from ADE to Perforce;</p>
          <p class="li">Regularly communicated product requirements and project progress with US and Indian teams.</p>
        </div>
        <div class="education-box">
          <time class="education-date" datetime="2014-09T2016-01">
            <span>Mar. <strong class="text-upper">2015</strong> - Oct. <strong>2015</strong></span>
          </time>
          <h3>Intern Software Developer, IBM Deutschland R&D GmbH</h3>
          <p class="li">Involved in the design and implementation of IBM solutions for the Smarter Mobility project;</p>
          <p class="li">Participated in transferring an old smart mobility project to cloud platform;</p>
          <p class="li">Designed an automatic temperature monitoring system system and implemented the prototype;</p>
          <p class="li">Supported communications between the design team and the development team.</p>
        </div>
      </div>
    </div>
  </div>
</section><!-- .section -->
