<section class="section brd-btm" id="publications">
  <div class="row">
    <div class="col-sm-12 clear-mrg">
      <h2 class="title-thin text-muted">PUBLICATIONS</h2>
      <br/>
      <div class="education">
        <div class="education-box">
          <h3>A science reading about intelligent architectural design</h3>
          <p>
            Editors: <strong>WANG Chuyu</strong>, JACKIE YONG Leong Shong, ZHAO Ke<br/>
            With a title to be determined, accepted for publication, forthcoming.<br/>
            Responsible chapters: The Five Tribes
            of Machine Learning, Neural Network-based Deep Learning, The Future of Coexistence with AI.<br/>
            The Essence version "White Paper on Intelligent Architectural Design 2020" of the book was released at new
            product launch event of XKool in July 2020. News link in Chinese:
            <a href="https://mp.weixin.qq.com/s/Y4aZv2ek_VB9BNJMiVwPeA" target="_blank">
              https://mp.weixin.qq.com/s/Y4aZv2ek_VB9BNJMiVwPeA
            </a>
          </p>
        </div>
        <div class="education-box">
          <h3>Day-Night Scene Transfer for Architectural Renderings Based on Color Transfer Approaches</h3>
          <p>
            HE Wanyu, NIE GuangYang, <strong>WANG Chuyu</strong>, JACKIE YONG Leong Shong<br/>
            In: Yuan P., Xie M., Leach N., Yao J., Wang X. (eds) Architectural Intelligence. Springer, Singapore.
            <a href="https://doi.org/10.1007/978-981-15-6568-7_12" target="_blank">
              https://doi.org/10.1007/978-981-15-6568-7_12
            </a>
          </p>
        </div>
        <div class="education-box">
          <h3>The Application Possibility of Deep Learning in Urban Perception-Image Discriminant Analysis Based on
            Convolutional Neural Network Algorithm[J]</h3>
          <p>
            HE Wanyu, LI Chun, NIE GuangYang, JACKIE YONG Leong Shong, <strong>WANG Chuyu</strong><br/>
            Urban Planning International, 2019, 34(1):8-17
          </p>
        </div>
      </div>
    </div>
  </div>
</section><!-- .section -->
